*target*
*.jar
*.war
*.ear
*.class
# idea specific git ignore
.idea
intro.iml
# eclipse specific git ignore
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
*.launch
*.7z

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
.launch/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/*

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

myDB
articles.tmp
/articles.tmp/
/myDB/
/articles.lck
/articles.properties
/.idea/
